<div class="container">
  <h1>Meteo & Map</h1>
  <input [(ngModel)]="city" placeholder="Inserisci città" />
  <button (click)="getWeather()">Cerca</button>
  <iframe [src]="mapUrl() | safe" width="100%" height="400"></iframe>


  <div class="weather-block" *ngIf="weather()">
    <div class="current-weather">
      <div class="weather-icon">{{ getWeatherEmoji(weather()?.weathercode) }}</div>
      <p class="temp">{{ weather()?.temperature }}°C</p>
      <p class="details">💨 Vento: {{ weather()?.windspeed }} km/h</p>
      <p class="details">💧 Umidità: {{ weather()?.humidity || '—' }}%</p>
    </div>

    <div class="forecast" *ngIf="forecast().length">
      <div class="forecast-day" *ngFor="let day of forecast()">
        <p>{{ day.time }}</p>
        <p>⬆️ {{ day.tempMax }}°C ⬇️ {{ day.tempMin }}°C</p>
        <p>💧 {{ day.precipitation }} mm</p>
      </div>
    </div>
  </div>

  <div class="map-block" *ngIf="mapUrl()">
    <iframe [src]="mapUrl() | safe" width="100%" height="400" frameborder="0"></iframe>
  </div>
</div>
